:root {
  --text-color: #212121;
  --brand-color: #2196f3;
  --background-color: #e5e5e5;
}
/* BODY */
body {
  font-family: Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-color);
}
.header {
  padding: 3px;
  border-style: solid;
  border-color: #ececec;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.2;
  display: flex;
}

.logo {
  margin: 24px 93px 25px 215px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: flex-start;
}
.link-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  margin: 32px 20px 32px 376px;
}

.link-contact:focus,
.link-contact:hover {
  color: var(--brand-color);
}
.nav-links .link:hover,
.nav-links .link:focus,
.nav-links .link:active {
  color: var(--brand-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.link:focus,
.link:hover {
  color: var(--brand-color);
} /* Cand stilizezti Logo elimina bucata asta, singurul ei rol este WEBSTUDIO */

/* INDEX */
.hero {
  background-color: #2f303a;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero button {
  background-color: var(--brand-color);
  color: #fff;
}

.skills {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.skills p {
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  color: #757575;
}
.what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.what-we-do ul {
  list-style-type: none;
}
.our-team {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.our-team ul {
  list-style-type: none;
}
.our-team span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team em {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* PORTOFOLIO */
/* PORTOFOLIO FILTRES BAR  */
.filters {
  @todo;
}

.navigation-filters {
  @todo;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: #fff;
}
.button {
  margin: 8px;
}

.nav-button .button:hover,
.nav-button .button:focus,
.nav-button .button:active {
  background: var(--brand-color);
  color: #fff;
}

/* PORTOFOLIO ARTICLES  */
.articles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  width: 1200px;
}

.articles ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articles li {
  width: 370px;
  height: 404px;
  margin: 30px 215px 30px 30px;
}
.articles li img {
  width: 100%;
}
.articles div {
  border: 1px solid #eee;
}
.articles em {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* FOOTER */
.footer {
  padding: 60px 1100px 60px 215px;
  background-color: #2f303a;
  color: #fff;
}
